.slide {
  width: 100%;
  height: 740px;
  overflow: auto;
  background: #333;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.split-right {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 35px;
  overflow-x: hidden;
  right: 0;
  background-color: #333;
}

.split-left {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 50px;
  overflow-x: hidden;
  left: 0;
  background-color: #f1f1f1;
}

.navbar {
  background-color: #222;
  border-color: #222;
  height: 50px;
}
.navbar-brand {
  margin-top: -7px;
}

.navbar-text {
  position: fixed;
  top: 0px;
  right: 485px;
}

.navigation_controls {
  position: fixed;
  right: 0;
  margin-top: 12px;
  margin-right: 20px;
}

.select_year {
  position: fixed;
  border: 1px solid transparent;
  right: 0;
  margin-top: 12px;
  margin-right: 425px;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  left: 5px;
  top: 5px;
  width: 95%;
  border: 5px solid transparent;
  display: inline-block;
}

.inputNum {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.modal-content {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 65%;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=submit] {
  margin-top:10px;
  margin-left:10px;
  background-color: #5923df;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #5923df !important;
  color: #ffffff;
}

#resultbox {
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 25px;
  background: #e5e5e5;
  padding: 20px; 
  width: 90%;
  transform: translate(5%, 0%);
}

#resultbox:hover {
  border-color: #bbbbbb;
}

#resultbox:focus {
  border-color: #aaaaaa;
  background: #e0e0e0;
  border-width: 2px;
}

#resultcount {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  transform: translate(2%, 0%);
}